body {
  margin: 2em auto;
  background: #f2f2f2;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
  text-align: justify;
  margin:2em auto;
  max-width:800px;
  padding:1em;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 66.66%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 45%;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    max-width: 33.33%;
  }
}

code {
  background: white;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
