body {
  margin: 2em auto;
  background: #ffffff;
  color: #444444;
  font-family: 'Inconsolata', monospace, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-shadow: 0 1px 0 #ffffff;
  text-align: justify;
  margin:2em auto;
  padding:1em;
}

aside {
  --aside-width: 12.5rem;
  --column-gap: 2rem;
  --padding: 1rem;
  --aside-offset: 1rem;
  --aside-offset-lineheight: 1.5rem;
  box-sizing: border-box;
  margin-bottom: calc(var(--padding) * 2);
  margin-top: calc((var(--aside-offset) + (var(--aside-offset-lineheight)*2))/-1);
  padding: var(--padding);
  position: absolute;
  right: 21%;
  width: var(--aside-width);
  font-size: 0.8125rem;
  font-weight: 400;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: left;
  border-radius: calc(var(--padding)/4);
  max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  body {
    max-width: 66.66%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1980px){
  body {
    max-width: 33.33%;
  }
}

@media only screen and (min-width: 1980px) and (max-width: 3840px){
  body {
    max-width: 33.33%;
  }
}

code {
  background: white;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
