<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bliki | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}css/foundation.css" />
    <script src="{{ site.url }}js/vendor/modernizr.js"></script>
  </head>
  <body>
<!-- Page begins  -->
  <div class="row bottom-border">
    <div class="large-12 columns">
      <h1><small>_bliki</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      {{ content }}
    </div>
  </div>
<!-- Foundation dependencies -->
    <script src="{{ site.url }}js/vendor/jquery.js"></script>
    <script src="{{ site.url }}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
<!-- Google analytics -->
<!-- 
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24796665-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
   -->    
  </body>
</html>
