<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bliki | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}css/foundation.css" />
    <script src="{{ site.url }}js/vendor/modernizr.js"></script>
  </head>
  <body>
<!-- Page begins  -->
  <div class="row bottom-border">
    <div class="large-11 columns">
      <h1><small><a href="{{ site.url }}index.html">_bliki</a></small></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <div class="row">
        <div class="large-12 columns">
          <br/>
          <h2>{{ page.title | upcase }}</h2>
          <h6 class="subheader">Por: <a href="{{page.author_url}}">{{ page.author }}</a></h6>
          <h6 class="subheader">Publicado: {{ page.date | date: "%B %d, %Y" }}</h6>
          <h6 class="subheader">Número de palabras: {{ page.content | number_of_words }}</h6>
          <h6 class="subheader">Categorías: {{ page.tags }}</h6>
        </div>
      </div>
      <br/><br/>
      {{ content }}
    </div>
    <div class="large-4 columns left-border">
        <p class="panel">
          <p class="hide-for-small-only"><span class="subheader">Entradas</span></p>
          <ul class="side-nav no-bullet">
          {% for post in site.posts %}        
            <li>&#187; <a class="hide-for-small-only" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}          
          </ul>
        </p>
        <p class="hide-for-small-only"><span class="subheader">Social </span></p>
          <ul class="side-nav no-bullet">
            <li>» <a class="hide-for-small-only" href="https://bitacora.s3.amazonaws.com/me.html">El autor</a></li>
            <li>» <a class="hide-for-small-only" href="http://twitter.com/ykiriki">@ykiriki</a></li>
            <li>» <a class="hide-for-small-only" href="/atom.xml">Atom 1.0</a></li>
          </ul>
        </p>        
    </div>    
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="disqus_thread"></div>bitacora/
        <script type="text/javascript">
          var disqus_shortname = 'bitcora';
          var disqus_identifier = 'http://yujikiriki.com{{page.id}}';
          var disqus_url = 'http://yujikiriki.com{{page.url}}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      </div>
    </div>
  </div>
<!-- Foundation dependencies -->
    <script src="{{ site.url }}js/vendor/jquery.js"></script>
    <script src="{{ site.url }}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
<!-- Google analytics -->
<!-- 
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24796665-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
   -->    
  </body>
</html>
